/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2017, 6:47:40 PM
    Author     : 00139234
*/
#cabecera{
    /*Aplicando tipo, alineacion y tamano de letra a la cabecera*/
    font-family: Century Gothic;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: brown;
}
#cabeceratwo{
    /*Aplicando tipo, alineacion y tamano de letra a la cabecera*/
    font-family: Century Gothic;
    font-size: 40px;
    font-weight: lighter;
    text-align: center; 
}
ul li{
    list-style-type: none;
    font-family: Century Gothic;
    background: #F5ECCE;
    display: inline;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    color: lightslategrey;
}
/*alineacion del menu*/
#menu {
    text-align: center;
}
/*agregando tama;o de borde,alineacion de texto, tipo de letra, tama;o de letraal cuerpo*/
#cuerpo{
    border-radius: 5px;
    text-align: center;
    font-family: Century Gothic;
    font-size: 26px;
}
/*agregando color de fondo, alineacion, tipo de letra y tama;o al pie de pagina*/
#pie{
    background: #F5ECCE;
    text-align: center;
    font-family: Century Gothic;
    font-size: 18px;
    
}
a:hover{
    color: brown;
    font-size: 21px;
}
a{
    text-decoration:  none;
    color: black;   
}
form{
    /*centrando el formulario y poniendo borde*/
    margin: 0 auto;
    width: 700px;
    padding: 1em;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: bisque;
    font-family: Century Gothic;
    font-weight: bold;
}
form div {
    margin-top: 1em;
    border-color: red;
}
a:link {color:  black;}

a:visited {color: lightslategrey;
}

a:active  { color: brown; 
}

label{display: inline-block;
      width: 200px;
      text-align: left;
}
input, textarea {
    font: 1em Century Gothic;
    width: 300px;
}
input:focus, textarea:focus {
    border-color: red;
}
textarea {
    text-align: center;
}

.centralizado {
    text-align: center;
}
#fondoformulario {
    background-color: lightyellow;
}
.boton{
    margin-left: 205px
}